@import 'modern-normalize/modern-normalize.css';

:root {
  --bg: oklch(from var(--color) var(--lightness) c h);
  --bgLighter: oklch(from var(--color) calc(var(--lightness) + 5%) c h);
  --surface: oklch(from var(--color) calc(var(--lightness) + 10%) calc(c - 0.5) h);
  --text: oklch(from var(--color) calc(100% - var(--lightness)) calc(c + 0.2) h);
  --object: oklch(from var(--color) var(--lightness) calc(c - 0.2) h / 0.5);
  --object-hover: oklch(from var(--color) var(--lightness) c h);
  --object-text: oklch(from var(--color) calc(100% - var(--lightness)) c h);

}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

body {
  height: 100dvh;
  background-image: linear-gradient(var(--bgLighter), var(--bg));
}

main {
  width: 90%;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;

  div {
    display: none;
  }

  img {
    border: 0.5rem solid var(--object-text);
    border-radius: 1rem;
  }

  &.info {

    div {
      display: block;
      color: var(--text);
    }

    img {
      display: none;
    }
  }
}

span {
  position: absolute;
  right: 0;
  margin: 0.9rem 1rem;
  display: flex;
}

button {
  background: var(--object);
  color: var(--object-text);
  font-weight: 900;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  margin: 0;
  margin-left: 0.5rem;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    background: var(--object-hover);
  }
}

div {
  background: var(--surface);
  height: 100%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
}